.projects {
  $content-color: var(--color-dim-medium);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--font-family-sans-serif);
  margin-bottom: 0.5rem;

  &__title {
    font-weight: 900;
    margin-bottom: 0.5em;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0.2rem;
    margin-bottom: 0.1rem;
  }

  &__item {
    position: relative;
    color: $content-color;
    margin-bottom: 0.1rem;

    &::before {
      content: ".";
      position: absolute;
      top: -0.73em;
      left: -0.4em;
      font-size: 0.5em;
      color: $content-color;
    }
  }

  &__duration {
    color: $content-color;
  }
}
