.education {
  $content-color: var(--color-dim-medium);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.3rem;

  &__title {
    font-weight: 900;
    margin-bottom: 0.5em;
  }

  &__degree {
    font-weight: 700;
    color: $content-color;
    margin-bottom: 1em;
  }

  &__major {
    color: $content-color;
    margin-bottom: 1em;
  }

  &__duration {
    color: $content-color;
  }
}
