.section-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20rem;
  padding-bottom: 20rem;

  &__title {
    font-weight: 900;
    margin-bottom: 60px;
  }
}
