.section-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__title {
    margin-bottom: 0.7rem;
    color: var(--color-text-dark);
  }
}
