@import "../../base";

.top-nav {
  $nav-height: 60px;
  $img-size: 40px;
  $button-size: 30px;
  $button-shape-height: 2px;

  position: fixed;
  z-index: 9;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: var(--color-mild-dark);

  &__main {
    height: $nav-height;
    border-bottom: 1px solid var(--color-mild-light);
  }

  &__content {
    height: $nav-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    width: $img-size;
    height: $img-size;
    border: 2px solid var(--color-dim-medium);
    border-radius: 50%;
    background-image: url("../../assets/img/Max.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__button-shape {
    width: 25px;
    height: $button-shape-height;
    background-color: var(--color-mild-light);
    transition: $nav-transition-duration ease;
  }

  &__button {
    width: $button-size;
    height: $button-size;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &--active {
      .top-nav__button-shape:nth-child(1) {
        transform: translateY($button-size / 4 + 0.5) rotate(45deg);
      }

      .top-nav__button-shape:nth-child(2) {
        opacity: 0;
      }

      .top-nav__button-shape:nth-child(3) {
        transform: translateY(-($button-size / 4 + 0.5)) rotate(-45deg);
      }
    }
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .top-nav__button {
    visibility: hidden;
    cursor: none;
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .top-nav {
    $nav-height: 100vh;
    $img-size: 1.3rem;

    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 20%;

    &__main {
      height: $nav-height;
      border-bottom: none;
    }

    &__content {
      height: $nav-height;
      flex-direction: column;
      justify-content: center;
    }

    &__img {
      width: $img-size;
      height: $img-size;
      border: 0.08rem solid var(--color-dim-medium);
    }
  }
}
