.skills-tool {
  $img-size: 0.4rem;
  $item-size: $img-size * 1.7;

  align-items: center;
  margin-bottom: 0.7rem;

  &__item {
    width: $item-size * 1.3;
    height: $item-size;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    box-shadow: 0 0.03rem 0.07rem rgba($color: #000000, $alpha: 0.2);
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;

    &:hover {
      box-shadow: 0 0.03rem 0.07rem rgba($color: #000000, $alpha: 0.4);
    }
  }

  &__img {
    min-width: $img-size;
    max-width: $img-size * 2;
    min-height: $img-size;
    max-height: $img-size * 1.3;
  }
}
