.skills-tool {
  $img-size: 6rem;
  $item-size: $img-size * 1.5;

  margin-bottom: 10rem;

  &__item {
    min-width: $item-size;
    height: $item-size;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    height: $img-size;
  }
}
