.skills-tool {
  $img-size: 6rem;
  $item-size: $img-size * 1.5;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10rem;

  &__item {
    min-width: $item-size;
    height: $item-size;
  }

  &__img {
    height: $img-size;
  }
}
