.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0.7rem;

  &__content {
    color: var(--color-text-dark);
    font-weight: bold;
  }
}
