.top-drop {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__item {
    height: 60px;
    display: flex;
    justify-content: flex-start;
  }

  &__link {
    position: relative;
    font-size: var(--font-size-sm);
    color: var(--color-light);

    &::after {
      content: "";
      position: absolute;
      left: 0px;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: var(--color-light);
      transform: scaleX(0);
      transform-origin: left;
      transition: 0.2s ease;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: right;
    }

    &:active::after {
      transform: scaleX(1);
      transform-origin: right;
    }
  }
}
