@import "../../base";

.top-drop {
  $item-height: 0.5rem;

  width: 100%;
  height: 0px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: $nav-transition-duration ease;

  &--active {
    height: $item-height * $nav-number;
    opacity: 1;
  }

  &__item {
    height: $item-height;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__link {
    position: relative;
    color: var(--color-text-dark);

    &::after {
      content: "";
      position: absolute;
      left: 0px;
      bottom: -0.2em;
      width: 100%;
      height: 1px;
      background-color: var(--color-text-dark);
      transform: scaleX(0);
      transform-origin: center;
      transition: $nav-transition-duration ease;
    }

    &:hover::after {
      transform: scaleX(1);
    }

    &--active {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}
