.about {
  $content-color: var(--color-dim-medium);

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  &__name {
    font-weight: 900;
    margin-bottom: 0.05rem;
  }

  &__contact {
    color: $content-color;
    margin-bottom: 0.2rem;
    white-space: pre;
  }

  &__content {
    color: $content-color;
    margin-bottom: 0.2rem;
  }
}
