.experience {
  $content-color: var(--color-dim-medium);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--font-family-sans-serif);
  margin-bottom: 10rem;

  &__title {
    font-weight: 900;
    margin-bottom: 0.5em;
  }

  &__duty {
    font-weight: 700;
    color: $content-color;
    margin-bottom: 1em;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: circle outside none;
    padding-left: 3rem;
    margin-bottom: 1em;
  }

  &__item {
    color: $content-color;
    margin-bottom: 1.5em;
  }

  &__duration {
    color: $content-color;
  }
}
