.experience {
  $content-color: var(--color-dim-medium);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--font-family-sans-serif);
  margin-bottom: 50px;

  &__title {
    font-weight: 900;
    margin-bottom: 10px;
  }

  &__duty {
    font-weight: 700;
    color: $content-color;
    margin-bottom: 30px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: circle outside none;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  &__item {
    color: $content-color;
    margin-bottom: 20px;
  }

  &__duration {
    color: $content-color;
  }
}
