@import "../../base";

.top-link {
  display: none;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;

  &__link {
    position: relative;
    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size-sm);
    color: var(--color-light);

    &::after {
      content: "";
      position: absolute;
      left: 0px;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: var(--color-light);
      transform: scaleX(0);
      transform-origin: left;
      transition: 0.2s ease;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: right;
    }

    &:active::after {
      transform: scaleX(1);
      transform-origin: right;
    }
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .top-link {
    display: flex;
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .top-link {
    height: 40%;
    flex-direction: column;
    flex-grow: 0;
  }
}
