@import "../../base";

.container {
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media screen and (min-width: $breakpoint-sm) {
  .container {
    max-width: 88%;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .container {
    max-width: 85%;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .container {
    max-width: 83%;
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .container {
    max-width: 80%;
  }
}

@media screen and (min-width: $breakpoint-xxl) {
  .container {
    max-width: 78%;
  }
}
