.container {
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media screen and (min-width: var(--breakpoint-sm)) {
  .container {
    max-width: 90%;
  }
}

@media screen and (min-width: var(--breakpoint-md)) {
  .container {
    max-width: 90%;
  }
}

@media screen and (min-width: var(--breakpoint-lg)) {
  .container {
    max-width: 90%;
  }
}

@media screen and (min-width: var(--breakpoint-xl)) {
  .container {
    max-width: 90%;
  }
}
