:root {
  --breakpoint-xs: 0px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: Helvetica, Arial, sans-serif;
  --font-family-monospace: "Monaco", "Courier New", monospace;
  --font-size-sm: 16px;
  --font-size-md: 21px;
  --font-size-lg: 26px;
  --color-transparent: transparent;
  --color-dark: black;
  --color-medium: gray;
  --color-light: white;
  --color-main: lightskyblue;
}
