:root {
  --color-transparent: transparent;
  --color-dark: black;
  --color-mild-dark: dimgray;
  --color-dim-medium: gray;
  --color-medium: darkgray;
  --color-bright-medium: silver;
  --color-mild-light: lightgray;
  --color-light: white;
  --color-main: lightskyblue;
}

$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$nav-number: 5;
$nav-transition-duration: 0.3s;

$personal-logo: "../../assets/img/Max.jpg";
