:root {
  --color-transparent: transparent;
  --color-dark: black;
  --color-light: white;
  --color-text-dark: #1a2a3a;
  --color-text-light: #5a6a7a;
  --color-main: #005caf;
  --color-section-background: var(--color-light);
  --color-nav-background: #91989f;

  --serif-font: "Roboto Slab", Georgia, "Times New Roman", serif;
  --san-serif-font: "Montserrat", Helvetica, Arial, sans-serif;
  --mono-font: "Oxygen Mono", Monaco, "Courier New", monospace;
}

$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$nav-number: 5;
$nav-transition-duration: 0.3s;

$personal-logo: "../../assets/img/max.jpg";
