.about-links {
  $img-size: 0.5rem;
  $link-width: $img-size * 1.5;

  width: $link-width * 2;
  height: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__item {
    width: $link-width;
    height: $link-width;
  }

  &__link {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    height: $img-size;
  }
}
